variant: flatcar
version: 1.0.0

storage:
  directories:
    - path: /var/www
  files:
    - path: /etc/ssh/sshd_config.d/hardening.conf
      contents:
        inline: |
          PasswordAuthentication no
          PermitRootLogin no
    - path: /home/core/.docker/config.json
      mode: 0644
      contents:
        inline: |
          {
            "auths": {
              "ghrc.io": {
                "auth": "${github_auth}",
                "email": "${github_email}"
              }
            }
          }
    - path: "/etc/nginx/certs/server.key"
      mode: 0644
      overwrite: true
      contents:
        source: "data:text/plain;base64,${private_key}"
      group:
        name: "docker"
    - path: /etc/nginx/certs/server.crt
      mode: 0644
      overwrite: true
      contents:
        source: "data:text/plain;base64,${certificate}"
      group:
        name: "docker"
    - path: /etc/nginx/certs/cf-origin-ca.pem
      mode: 0644
      overwrite: true
      contents:
        source: "data:text/plain;base64,${origin_ca}"
      group:
        name: "docker"
    - path: /etc/nginx/nginx.conf
      mode: 0644
      overwrite: true
      contents:
        source: "data:text/plain;base64,${nginx_conf_base64}"
      group:
        name: "docker"
passwd:
  users:
    - name: developer
      ssh_authorized_keys:
        - "${developer_ssh}"
      groups: [ sudo, docker, systemd-journal ]
      no_create_home: false