variant: flatcar
version: 1.0.0

storage:
  directories:
    - path: /var/www
  files:
    - path: /etc/ssh/sshd_config.d/hardening.conf
      contents:
        inline: |
          PasswordAuthentication no
          PermitRootLogin no
    - path: "/etc/nginx/certs/server.key"
      mode: 0644
      overwrite: true
      contents:
        source: "data:text/plain;base64,${private_key}"
      group:
        name: "docker"
    - path: /etc/nginx/certs/server.crt
      mode: 0644
      overwrite: true
      contents:
        source: "data:text/plain;base64,${certificate}"
      group:
        name: "docker"
    - path: /etc/nginx/certs/cf-origin-ca.pem
      mode: 0644
      overwrite: true
      contents:
        source: "data:text/plain;base64,${origin_ca}"
      group:
        name: "docker"
    - path: /etc/nginx/nginx.conf
      mode: 0644
      overwrite: true
      contents:
        source: "data:text/plain;base64,${nginx_conf_base64}"
      group:
        name: "docker"
    - path: /etc/grafana/config.alloy
      mode: 0644
      overwrite: true
      contents:
        source: "data:text/plain;base64,${alloy_conf_base64}"
      group:
        name: "docker"
passwd:
  users:
    - name: developer
      ssh_authorized_keys:
        - "${developer_ssh}"
      groups: [ sudo, docker, systemd-journal ]
      no_create_home: false
    - name: pipeline
      ssh_authorized_keys:
        - "${pipeline_ssh}"
      groups: [ docker ]
      no_create_home: false
systemd:
  units:
    - name: alloy.service
      enabled: true
      contents: |
        [Unit]
        Description=GRAFANA ALLOY
        After=docker.service coreos-metadata.service
        Requires=docker.service coreos-metadata.service

        [Service]
        TimeoutStartSec=0
        ExecStartPre=-/usr/bin/docker rm --force alloy1
        ExecStart=/usr/bin/docker run --name alloy1 \
                  --volume "/etc/grafana/config.alloy:/etc/alloy/config.alloy:ro" \
                  --pull always --log-driver=journald --net host grafana/alloy:latest
        ExecStop=/usr/bin/docker stop alloy1
        Restart=always
        RestartSec=5s

        [Install]
        WantedBy=multi-user.target
    - name: nginx.service
      enabled: true
      contents: |
        [Unit]
        Description=AEON NGINX
        After=docker.service coreos-metadata.service alloy.service
        Requires=docker.service coreos-metadata.service

        [Service]
        TimeoutStartSec=0
        ExecStartPre=-/usr/bin/docker rm --force nginx1
        ExecStartPre=-/usr/bin/bash -c "echo \"Hello from ${appname}\" > /var/www/index.html"
        ExecStart=/usr/bin/docker run --name nginx1 \
                  --volume "/var/www:/usr/share/nginx/html:ro" \
                  --volume "/etc/nginx/certs/server.crt:/etc/nginx/certs/server.crt:ro" \
                  --volume "/etc/nginx/certs/server.key:/etc/nginx/certs/server.key:ro" \
                  --volume "/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro" \
                  --pull always --log-driver=journald --net host docker.io/nginx:1
        ExecStop=/usr/bin/docker stop nginx1
        Restart=always
        RestartSec=5s

        [Install]
        WantedBy=multi-user.target